<div class="car">
    <div class="card-body">
       <h1>About</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dicta consequuntur distinctio blanditiis quidem repellendus, doloribus, facilis porro, officia incidunt provident iste. Labore et repellat vitae nam, error quidem voluptas.</p>


    </div>
</div>